{% extends 'home/components/layout.html.twig' %}

{% block title %}Project Kakarot - {{ mangas.title }}{% endblock %}

{% block content %}

    <h1 class="titleView">Manga: {{ mangas.name }}</h1>

    <div class="caja">
        <div class="containerm1">
            <div class="container1">
                <img class="imgView" style="background-image: url(/img/views/{{ mangas.picture }});" role="img" aria-label="Imagen de {{ mangas.title }}">

                <!-- <div class="slideshow-container">
                    <div class="mySlides fade">
                        
                    </div>

                    {#% if allImages|length <= 1 %}
                            <a class="prevSlider d-none" onclick="plusSlides(-1)">&#10094;</a>
                            <a class="nextSlider d-none" onclick="plusSlides(1)">&#10095;</a>
                        {% else %}
                            <a class="prevSlider" onclick="plusSlides(-1)">&#10094;</a>
                            <a class="nextSlider" onclick="plusSlides(1)">&#10095;</a>
                        {% endif %}
                        <br>
                        {% if allImages|length <= 1 %}
                        <div style="text-align:center; padding-bottom: 10px">  
                            {% for image in allImages %}
                                {% set currentSlide = currentSlide + 1 %}
                                <span class="dotSlider d-none" onclick="currentSlide({{ currentSlide }})"></span>
                            {% endfor %}
                        </div>
                    {% else %}
                        <div style="text-align:center; padding-bottom: 10px">  
                            {% for image in allImages %}
                                {% set currentSlide = currentSlide + 1 %}
                                <span class="dotSlider" onclick="currentSlide({{ currentSlide }})"></span>
                            {% endfor %}
                        </div>
                    {% endif %#}


                    <a class="prev" onclick="plusSlides(-1)">❮</a>
                    <a class="next" onclick="plusSlides(1)">❯</a>

                </div>

                <br>

                <div style="text-align:center">
                    <span class="dot" onclick="currentSlide(1)"></span>
                    <span class="dot" onclick="currentSlide(2)"></span>
                    <span class="dot" onclick="currentSlide(3)"></span>
                </div> -->

            </div> 

            <br><br>
            <div class="container2">
                <div class="viewsData">
                    <p>Nombre:</p>
                    <div>{{ mangas.name }}</div>
                </div>
                <hr color="#ff0000">
                <div class="viewsData">
                    <p>Fecha:</p>
                    <div>{{ mangas.date }}</div>
                </div>
                <hr color="#ff0000">
                <div class="viewsData">
                    <p>Creador:</p>
                    <div>{{ mangas.creator }}</div>
                </div>
            </div>
        </div>
        <div class="containerm2">
            <div class="titlePages">
                <h2>{{ mangas.name }}</h2>
            </div>
            <br><br>
            <div class="description">
                <p>{{ mangas.description }}</p>
            </div>
        </div>
    </div>
{% endblock %} 

{% block javascripts %}
    {{ parent() }}
{% endblock %}