{% extends 'home/components/layout.html.twig' %}

{% block title %}Project Kakarot - Inicio de Sesión{% endblock %}

{% block content %}

{% if error %}
    <div class="alert dangerAlert">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

    <div class="registerForm">
        <fieldset>
            <h2 class="fs-title">Inicio de Sesión</h2>
            <form id="login-form" method="post">
                <input placeholder="Email" type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
                <input placeholder="Contraseña" type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"><br><br>
                <label style="display:flex;align-items:flex-start;">Recuérdame<input style="width:auto;margin-left:10px;" type="checkbox" name="remember_me"></label><br>
            </form>
            <button aria-label="Iniciar sesión" form="login-form" class="Btn btnPrimary" type="submit">INICIAR SESIÓN</button><br><br>
            <button aria-label="¿Has olvidado tu contraseña?" onclick="window.location.href='{{ path('app_forgot_password_request') }}'" class="linkButton" style="margin:auto;color:#435fdb;display:flex;justify-content:center;font-weight:normal;line-height:unset;padding:unset;">¿Has olvidado la contraseña?</button><br>
            <span>¿No tienes cuenta? <a style="text-decoration:none;color:#435fdb;" href="{{path('app_register')}}">¡Regístrate!</a></span>
        </fieldset>
    </div>

{% endblock %}
